<!DOCTYPE html>
<html>
	<head>
		<title>login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<script src="/../static/js/vendor/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/../static/js/vendor/handlebars.min.js"></script>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="static/css/materialize.css"  media="screen,projection"/>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/styles_front.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/../static/css/styles_front.css">
	</head>
	<body>
		<script src="/../static/js/auth-manager.js"></script>
		<div  id="container_body"></div>
		<div  id="container_login"></div>
	</body>
</html>
